<log4net>
	<!--<root>
		<level value="ALL" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>-->
	<appender name="console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="file" type="log4net.Appender.RollingFileAppender">
		<file value="Files/Errors/Errors.txt"/>
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%-5p %d %5rms %-22.22c{1} %m%n"/>
		</layout>
	</appender>
	<!--Operation log file appender-->
	<appender name="OperationLogAppender" type="log4net.Appender.RollingFileAppender">
		<file value="Files/Operations/Logger.txt"/>
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%-5p %d %5rms %-22.25c{1} %m%n"/>
		</layout>
	</appender>
	<logger name="OperationLogFileAppender">
		<level value="Info"/>
		<appender-ref ref="OperationLogAppender"/>
	</logger>
	<!--Database Listener-->
	<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
		<bufferSize value="1"/>
		<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<connectionStringName value="DefaultConnection"/>
		<commandText value="INSERT INTO dbo.OperationalLog ([Message],[DateLogged]) VALUES (@message,@dateLogged)"/>
		<parameter>
			<parameterName value="@message"/>
			<dbType value="String"/>
			<size value="4000"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@dateLogged"/>
			<dbType value="DateTime"/>
			<layout type="log4net.Layout.RawTimeStampLayout"/>
		</parameter>
	</appender>
	<logger name="OperationalDBLogAppender">
		<level value="Info"/>
		<appender-ref ref="AdoNetAppender"/>
	</logger>
</log4net>